<a href="{% url 'admin:index' %}">Dashboard</a>
<a href="{% url 'admin:auth_user_changelist' %}">Users</a>
<a href="{% url 'admin:core_student_changelist' %}">Students</a>
<a href="{% url 'admin:core_teacher_changelist' %}">Teachers</a>
<a href="{% url 'admin:core_teacherattendance_changelist' %}">Teacher Attendance</a>
<a href="{% url 'admin:core_schoolclass_changelist' %}">Classes</a>
<a href="{% url 'admin:core_subject_changelist' %}">Subjects</a>
<a href="{% url 'admin:core_classsubject_changelist' %}">Class Subjects</a>
<a href="{% url 'admin:core_timetableentry_changelist' %}">Timetable</a>
<a href="{% url 'admin:core_attendance_changelist' %}">Attendance</a>
<a href="{% url 'admin:core_attendancerecord_changelist' %}">Attendance Records</a>
<a href="{% url 'admin:core_homework_changelist' %}">Digital Diary</a>
<a href="{% url 'admin:core_studentfee_changelist' %}">Fees</a>
<a href="{% url 'admin:core_notification_changelist' %}">Notifications</a>
